# Run the following command to reformat a file: 
# clang-format -style=Google -i <file>
# Or use VS Code to reformat a file on save: 
# https://zhuanlan.zhihu.com/p/356143396
# Or use clang-format-diff to only reformat the changed lines: 
# https://clang.llvm.org/docs/ClangFormat.html
BasedOnStyle: Google 
Language: Cpp
IndentWidth: 4
IncludeBlocks: Preserve
AccessModifierOffset: -4
InsertNewlineAtEOF: true